<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BaseURL" value="https://bctwtbrg220.risk.regn.net" />
    <add key="Browser" value="Chrome" />
    <add key="Headless" value="y" />
    <add key="DOMScan" value="n" />

    <add key="ReportPath" value="..\..\TestReports\" />
    <add key="BaseImagesDirectory" value="..\..\TestData\BaseImages\" />
    <add key="ActualImagesDirectory" value="..\..\TestData\ActualImages\" />
    <add key="PDFImages" value="..\..\Reports\PDFImages\" />
    <add key="FullPageScreenshot" value="True" />

    <add key="ClientID" value="AutoClient1" />
    <add key="UserID" value="AutoUser1" />
    <add key="Password" value="abc123$$$$" />
    <add key="SysUser" value="" />
    <add key="SysUserPassword" value="" />
    <add key="VerificationCode" value="856854" />
    <add key="NewClient" value="n" />
    <add key="OpenReport" value="y" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>